{% macro game_state(game_state) %}

    <div class="container game-state">
        <div class="row col-sm-12">
            <div class="col-sm-4 h3">Cards Remaining: {{ game_state['deck_size'] }}</div>
            <div class="col-sm-4 h3">Epidemics: {{ game_state['epidemics'] }}</div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-3 h3">City</div>
            <div class="col-sm-2 h3">Stack</div>
            <div class="col-sm-2 h3">Infection</div>
            <div class="col-sm-2 h3">Epidemic</div>
        </div>
        {%- for city in game_state['city_data'] %}
            <div class="row col-sm-12{% if city['discard'] %} discard{% endif %}">
                <div class="col-sm-3 city-{{ city['color'] }}">{{ city['name'] }}</div>
                <div class="col-sm-2">{{ city['stack'] }}</div>
                <div class="col-sm-2">{{ city['inf_risk'] }}</div>
                <div class="col-sm-2">{{ city['epi_risk'] }}</div>
            </div>
        {%- endfor %}
    </div>

{%- endmacro %}

{% macro game_summaries(games) %}

    <div class="container-fluid">
        <div class="row col-sm-12 h2">Game Database</div>
        <div class="row col-sm-12">
            <div class="col-sm-3 h3">Game</div>
            <div class="col-sm-3 h3">Month</div>
            <div class="col-sm-3 h3">Cards Left</div>
            <div class="col-sm-3 h3">Epidemics</div>
        </div>
        {%- for game in games %}
            <div class="row col-sm-12">
                <div class="col-sm-3">{{ game.id }}</div>
                <div class="col-sm-3">{{ game.month }}</div>
                <div class="col-sm-3">{{ game.deck_size }}</div>
                <div class="col-sm-3">{{ game.epidemics }}</div>
            </div>
        {% else %}
            <div class="row col-sm-12">There are no games in database</div>
        {%- endfor %}
    </div>

{%- endmacro %}
